DJANGO_SECRET_KEY='YOURKEY'
ALLOWED_HOSTS="HOSTS"
CSRF_TRUSTED_ORIGINS="http://localhost:8000"
CORS_ORIGIN_ALLOW_ALL=True

DEBUG=True
DB_HOST=localhost
DB_NAME=djangoproxy
DB_USER=djangoproxy
DB_PASSWORD=djangoproxy
DB_PORT=3306
LARAVEL_APP_KEY="LARAVEL_APP_KEY"

API_USER="user"
API_PASSWORD="password"
